In [37]:
# The code was removed by DSX for sharing.

In [84]:
import pandas as pd

def covertTypes(df):
    
    df = (df.withColumn('Age',df['Age'].cast('double'))
            .withColumn('SibSp',df['SibSp'].cast('double'))
            .withColumn('Parch',df['Parch'].cast('double'))
            .withColumn('Fare',df['Fare'].cast('double'))
            .withColumn('Survived',df['Survived'].cast('double')))
    return df 
df = covertTypes(df)
test_df = covertTypes(test_df)

df.printSchema()
test_df.printSchema()

df.show()
test_df.show()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Title: string (nullable = true)

root
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)

+-----------+--------+------+------+----+-----+-----+----------------+-------+--------+-------------+
|PassengerId|Survived|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|        Title|
+-----------+--------+------+------+----+-----+-----+----------------+-------+--------+-------------+
|          1|     0.0|     3|  male|22.0|  1.0|  0.0|       A/5 21171|   7.25|       S|       Braund|
|          2|     1.0|     1|female|38.0|  1.0|  0.0|        PC 17599|71.2833|       C|      Cumings|
|          3|     1.0|     3|female|26.0|  0.0|  0.0|STON/O2. 3101282|  7.925|       S|    Heikkinen|
|          4|     1.0|     1|female|35.0|  1.0|  0.0|          113803|   53.1|       S|     Futrelle|
|          5|     0.0|     3|  male|35.0|  0.0|  0.0|          373450|   8.05|       S|        Allen|
|          7|     0.0|     1|  male|54.0|  0.0|  0.0|           17463|51.8625|       S|     McCarthy|
|          8|     0.0|     3|  male| 2.0|  3.0|  1.0|          349909| 21.075|       S|      Palsson|
|          9|     1.0|     3|female|27.0|  0.0|  2.0|          347742|11.1333|       S|      Johnson|
|         10|     1.0|     2|female|14.0|  1.0|  0.0|          237736|30.0708|       C|       Nasser|
|         11|     1.0|     3|female| 4.0|  1.0|  1.0|         PP 9549|   16.7|       S|    Sandstrom|
|         12|     1.0|     1|female|58.0|  0.0|  0.0|          113783|  26.55|       S|      Bonnell|
|         13|     0.0|     3|  male|20.0|  0.0|  0.0|       A/5. 2151|   8.05|       S|  Saundercock|
|         14|     0.0|     3|  male|39.0|  1.0|  5.0|          347082| 31.275|       S|    Andersson|
|         15|     0.0|     3|female|14.0|  0.0|  0.0|          350406| 7.8542|       S|      Vestrom|
|         16|     1.0|     2|female|55.0|  0.0|  0.0|          248706|   16.0|       S|      Hewlett|
|         17|     0.0|     3|  male| 2.0|  4.0|  1.0|          382652| 29.125|       Q|         Rice|
|         19|     0.0|     3|female|31.0|  1.0|  0.0|          345763|   18.0|       S|Vander Planke|
|         21|     0.0|     2|  male|35.0|  0.0|  0.0|          239865|   26.0|       S|       Fynney|
|         22|     1.0|     2|  male|34.0|  0.0|  0.0|          248698|   13.0|       S|      Beesley|
|         23|     1.0|     3|female|15.0|  0.0|  0.0|          330923| 8.0292|       Q|     "McGowan|
+-----------+--------+------+------+----+-----+-----+----------------+-------+--------+-------------+
only showing top 20 rows

+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Survived|        Title|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
|        892|     3|  male|34.5|  0.0|  0.0|          330911| 7.8292|       Q|     0.0|        Kelly|
|        893|     3|female|47.0|  1.0|  0.0|          363272|    7.0|       S|     1.0|       Wilkes|
|        894|     2|  male|62.0|  0.0|  0.0|          240276| 9.6875|       Q|     0.0|        Myles|
|        895|     3|  male|27.0|  0.0|  0.0|          315154| 8.6625|       S|     0.0|         Wirz|
|        896|     3|female|22.0|  1.0|  1.0|         3101298|12.2875|       S|     1.0|     Hirvonen|
|        897|     3|  male|14.0|  0.0|  0.0|            7538|  9.225|       S|     0.0|     Svensson|
|        898|     3|female|30.0|  0.0|  0.0|          330972| 7.6292|       Q|     1.0|     Connolly|
|        899|     2|  male|26.0|  1.0|  1.0|          248738|   29.0|       S|     0.0|     Caldwell|
|        900|     3|female|18.0|  0.0|  0.0|            2657| 7.2292|       C|     1.0|      Abrahim|
|        901|     3|  male|21.0|  2.0|  0.0|       A/4 48871|  24.15|       S|     0.0|       Davies|
|        903|     1|  male|46.0|  0.0|  0.0|             694|   26.0|       S|     0.0|        Jones|
|        904|     1|female|23.0|  1.0|  0.0|           21228|82.2667|       S|     1.0|       Snyder|
|        905|     2|  male|63.0|  1.0|  0.0|           24065|   26.0|       S|     0.0|       Howard|
|        906|     1|female|47.0|  1.0|  0.0|     W.E.P. 5734| 61.175|       S|     1.0|      Chaffee|
|        907|     2|female|24.0|  1.0|  0.0|   SC/PARIS 2167|27.7208|       C|     1.0|    del Carlo|
|        908|     2|  male|35.0|  0.0|  0.0|          233734|  12.35|       Q|     0.0|        Keane|
|        909|     3|  male|21.0|  0.0|  0.0|            2692|  7.225|       C|     0.0|        Assaf|
|        910|     3|female|27.0|  1.0|  0.0|STON/O2. 3101270|  7.925|       S|     1.0|   Ilmakangas|
|        911|     3|female|45.0|  0.0|  0.0|            2696|  7.225|       C|     1.0|"Assaf Khalil|
|        912|     1|  male|55.0|  1.0|  0.0|        PC 17603|   59.4|       C|     0.0|   Rothschild|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
only showing top 20 rows

In [43]:
df = df.drop('Cabin')
test_df = test_df.drop('Cabin')

In [58]:
df.printSchema()
test_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Title: string (nullable = true)

root
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)

In [59]:
df = df.na.drop()
test_df = test_df.na.drop()

In [85]:
df.printSchema()
test_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Title: string (nullable = true)

root
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)

In [61]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
 
## created user defined function to extract title
#def dropName
getTitleTest = udf(lambda name: name.split(',')[0].strip(),StringType())
test_df = test_df.withColumn('Title', getTitleTest(test_df['Name']))
test_df = test_df.drop('Name')


getTitle = udf(lambda name: name.split(',')[0].strip(),StringType())
df = df.withColumn('Title', getTitle(df['Name']))
df = df.drop('Name')
#return df;

#df = dropNames(df)
#test_df = dropNames(test_df)

AnalysisException: u'Cannot resolve column name "Name" among (PassengerId, Pclass, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked, Survived, Title);'

In [65]:
###One-Hot Encoding
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ["PassengerId","Title","Pclass", "Sex", "Ticket", "Embarked"]
stages = [] # stages in our Pipeline
for categoricalCol in categoricalColumns:
  # Category Indexing with StringIndexer
  stringIndexer = StringIndexer(inputCol=categoricalCol, outputCol=categoricalCol+"Index")
  # Use OneHotEncoder to convert categorical variables into binary SparseVectors
  encoder = OneHotEncoder(inputCol=categoricalCol+"Index", outputCol=categoricalCol+"classVec")
  # Add stages.  These are not run here, but will run all at once later on.
  stages += [stringIndexer,encoder]

In [66]:

test_df.show()

+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Survived|        Title|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
|        892|     3|  male|34.5|  0.0|  0.0|          330911| 7.8292|       Q|     0.0|        Kelly|
|        893|     3|female|47.0|  1.0|  0.0|          363272|    7.0|       S|     1.0|       Wilkes|
|        894|     2|  male|62.0|  0.0|  0.0|          240276| 9.6875|       Q|     0.0|        Myles|
|        895|     3|  male|27.0|  0.0|  0.0|          315154| 8.6625|       S|     0.0|         Wirz|
|        896|     3|female|22.0|  1.0|  1.0|         3101298|12.2875|       S|     1.0|     Hirvonen|
|        897|     3|  male|14.0|  0.0|  0.0|            7538|  9.225|       S|     0.0|     Svensson|
|        898|     3|female|30.0|  0.0|  0.0|          330972| 7.6292|       Q|     1.0|     Connolly|
|        899|     2|  male|26.0|  1.0|  1.0|          248738|   29.0|       S|     0.0|     Caldwell|
|        900|     3|female|18.0|  0.0|  0.0|            2657| 7.2292|       C|     1.0|      Abrahim|
|        901|     3|  male|21.0|  2.0|  0.0|       A/4 48871|  24.15|       S|     0.0|       Davies|
|        903|     1|  male|46.0|  0.0|  0.0|             694|   26.0|       S|     0.0|        Jones|
|        904|     1|female|23.0|  1.0|  0.0|           21228|82.2667|       S|     1.0|       Snyder|
|        905|     2|  male|63.0|  1.0|  0.0|           24065|   26.0|       S|     0.0|       Howard|
|        906|     1|female|47.0|  1.0|  0.0|     W.E.P. 5734| 61.175|       S|     1.0|      Chaffee|
|        907|     2|female|24.0|  1.0|  0.0|   SC/PARIS 2167|27.7208|       C|     1.0|    del Carlo|
|        908|     2|  male|35.0|  0.0|  0.0|          233734|  12.35|       Q|     0.0|        Keane|
|        909|     3|  male|21.0|  0.0|  0.0|            2692|  7.225|       C|     0.0|        Assaf|
|        910|     3|female|27.0|  1.0|  0.0|STON/O2. 3101270|  7.925|       S|     1.0|   Ilmakangas|
|        911|     3|female|45.0|  0.0|  0.0|            2696|  7.225|       C|     1.0|"Assaf Khalil|
|        912|     1|  male|55.0|  1.0|  0.0|        PC 17603|   59.4|       C|     0.0|   Rothschild|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+
only showing top 20 rows

In [67]:
# Convert label into label indices using the StringIndexer
label_stringIdx = StringIndexer(inputCol = "Survived", outputCol = "label")
stages += [label_stringIdx]

In [68]:
# Transform all features into a vector using VectorAssembler
numericCols = ["Age", "SibSp","Parch", "Fare"]
assemblerInputs = map(lambda c: c + "classVec", categoricalColumns) + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [69]:
df.printSchema()
test_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Title: string (nullable = true)

root
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)

In [71]:
cols = test_df.columns
# Create a Pipeline.
# Run the feature transformations.
#  - fit() computes feature statistics as needed.
#  - transform() actually transforms the features.

pipeline = Pipeline(stages=stages)
def fitDf(df):
    
    pipelineModel = pipeline.fit(df)
    dataset1 = pipelineModel.transform(df)
    return dataset1

dataset = fitDf(df)
testdataSet = fitDf(test_df)

testdataSet.show()

+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+----------------+-------------------+----------+-----------------+-----------+--------------+--------+-------------+-----------+-----------------+-------------+----------------+-----+--------------------+
|PassengerId|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Survived|        Title|PassengerIdIndex|PassengerIdclassVec|TitleIndex|    TitleclassVec|PclassIndex|PclassclassVec|SexIndex|  SexclassVec|TicketIndex|   TicketclassVec|EmbarkedIndex|EmbarkedclassVec|label|            features|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+----------------+-------------------+----------+-----------------+-----------+--------------+--------+-------------+-----------+-----------------+-------------+----------------+-----+--------------------+
|        892|     3|  male|34.5|  0.0|  0.0|          330911| 7.8292|       Q|     0.0|        Kelly|            59.0|   (330,[59],[1.0])|     241.0|(282,[241],[1.0])|        0.0| (2,[0],[1.0])|     0.0|(1,[0],[1.0])|      200.0|(283,[200],[1.0])|          2.0|       (2,[],[])|  0.0|(904,[59,571,612,...|
|        893|     3|female|47.0|  1.0|  0.0|          363272|    7.0|       S|     1.0|       Wilkes|           302.0|  (330,[302],[1.0])|      50.0| (282,[50],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|      113.0|(283,[113],[1.0])|          0.0|   (2,[0],[1.0])|  1.0|(904,[302,380,612...|
|        894|     2|  male|62.0|  0.0|  0.0|          240276| 9.6875|       Q|     0.0|        Myles|           242.0|  (330,[242],[1.0])|     271.0|(282,[271],[1.0])|        2.0|     (2,[],[])|     0.0|(1,[0],[1.0])|      149.0|(283,[149],[1.0])|          2.0|       (2,[],[])|  0.0|(904,[242,601,614...|
|        895|     3|  male|27.0|  0.0|  0.0|          315154| 8.6625|       S|     0.0|         Wirz|            95.0|   (330,[95],[1.0])|     212.0|(282,[212],[1.0])|        0.0| (2,[0],[1.0])|     0.0|(1,[0],[1.0])|      263.0|(283,[263],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[95,542,612,...|
|        896|     3|female|22.0|  1.0|  1.0|         3101298|12.2875|       S|     1.0|     Hirvonen|            26.0|   (330,[26],[1.0])|     244.0|(282,[244],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|      151.0|(283,[151],[1.0])|          0.0|   (2,[0],[1.0])|  1.0|(904,[26,574,612,...|
|        897|     3|  male|14.0|  0.0|  0.0|            7538|  9.225|       S|     0.0|     Svensson|           283.0|  (330,[283],[1.0])|      69.0| (282,[69],[1.0])|        0.0| (2,[0],[1.0])|     0.0|(1,[0],[1.0])|      266.0|(283,[266],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[283,399,612...|
|        898|     3|female|30.0|  0.0|  0.0|          330972| 7.6292|       Q|     1.0|     Connolly|           192.0|  (330,[192],[1.0])|     185.0|(282,[185],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|      190.0|(283,[190],[1.0])|          2.0|       (2,[],[])|  1.0|(904,[192,515,612...|
|        899|     2|  male|26.0|  1.0|  1.0|          248738|   29.0|       S|     0.0|     Caldwell|           111.0|  (330,[111],[1.0])|     259.0|(282,[259],[1.0])|        2.0|     (2,[],[])|     0.0|(1,[0],[1.0])|      160.0|(283,[160],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[111,589,614...|
|        900|     3|female|18.0|  0.0|  0.0|            2657| 7.2292|       C|     1.0|      Abrahim|           135.0|  (330,[135],[1.0])|     173.0|(282,[173],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|       71.0| (283,[71],[1.0])|          1.0|   (2,[1],[1.0])|  1.0|(904,[135,503,612...|
|        901|     3|  male|21.0|  2.0|  0.0|       A/4 48871|  24.15|       S|     0.0|       Davies|           268.0|  (330,[268],[1.0])|       0.0|  (282,[0],[1.0])|        0.0| (2,[0],[1.0])|     0.0|(1,[0],[1.0])|      236.0|(283,[236],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[268,330,612...|
|        903|     1|  male|46.0|  0.0|  0.0|             694|   26.0|       S|     0.0|        Jones|           117.0|  (330,[117],[1.0])|     141.0|(282,[141],[1.0])|        1.0| (2,[1],[1.0])|     0.0|(1,[0],[1.0])|      203.0|(283,[203],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[117,471,613...|
|        904|     1|female|23.0|  1.0|  0.0|           21228|82.2667|       S|     1.0|       Snyder|            69.0|   (330,[69],[1.0])|      34.0| (282,[34],[1.0])|        1.0| (2,[1],[1.0])|     1.0|    (1,[],[])|       34.0| (283,[34],[1.0])|          0.0|   (2,[0],[1.0])|  1.0|(904,[69,364,613,...|
|        905|     2|  male|63.0|  1.0|  0.0|           24065|   26.0|       S|     0.0|       Howard|           287.0|  (330,[287],[1.0])|      17.0| (282,[17],[1.0])|        2.0|     (2,[],[])|     0.0|(1,[0],[1.0])|       19.0| (283,[19],[1.0])|          0.0|   (2,[0],[1.0])|  0.0|(904,[287,347,614...|
|        906|     1|female|47.0|  1.0|  0.0|     W.E.P. 5734| 61.175|       S|     1.0|      Chaffee|           198.0|  (330,[198],[1.0])|      86.0| (282,[86],[1.0])|        1.0| (2,[1],[1.0])|     1.0|    (1,[],[])|      219.0|(283,[219],[1.0])|          0.0|   (2,[0],[1.0])|  1.0|(904,[198,416,613...|
|        907|     2|female|24.0|  1.0|  0.0|   SC/PARIS 2167|27.7208|       C|     1.0|    del Carlo|            99.0|   (330,[99],[1.0])|     255.0|(282,[255],[1.0])|        2.0|     (2,[],[])|     1.0|    (1,[],[])|       74.0| (283,[74],[1.0])|          1.0|   (2,[1],[1.0])|  1.0|(904,[99,585,689,...|
|        908|     2|  male|35.0|  0.0|  0.0|          233734|  12.35|       Q|     0.0|        Keane|            70.0|   (330,[70],[1.0])|     106.0|(282,[106],[1.0])|        2.0|     (2,[],[])|     0.0|(1,[0],[1.0])|       49.0| (283,[49],[1.0])|          2.0|       (2,[],[])|  0.0|(904,[70,436,614,...|
|        909|     3|  male|21.0|  0.0|  0.0|            2692|  7.225|       C|     0.0|        Assaf|           155.0|  (330,[155],[1.0])|     104.0|(282,[104],[1.0])|        0.0| (2,[0],[1.0])|     0.0|(1,[0],[1.0])|      260.0|(283,[260],[1.0])|          1.0|   (2,[1],[1.0])|  0.0|(904,[155,434,612...|
|        910|     3|female|27.0|  1.0|  0.0|STON/O2. 3101270|  7.925|       S|     1.0|   Ilmakangas|           168.0|  (330,[168],[1.0])|     237.0|(282,[237],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|      240.0|(283,[240],[1.0])|          0.0|   (2,[0],[1.0])|  1.0|(904,[168,567,612...|
|        911|     3|female|45.0|  0.0|  0.0|            2696|  7.225|       C|     1.0|"Assaf Khalil|           286.0|  (330,[286],[1.0])|     263.0|(282,[263],[1.0])|        0.0| (2,[0],[1.0])|     1.0|    (1,[],[])|       62.0| (283,[62],[1.0])|          1.0|   (2,[1],[1.0])|  1.0|(904,[286,593,612...|
|        912|     1|  male|55.0|  1.0|  0.0|        PC 17603|   59.4|       C|     0.0|   Rothschild|           204.0|  (330,[204],[1.0])|     168.0|(282,[168],[1.0])|        1.0| (2,[1],[1.0])|     0.0|(1,[0],[1.0])|      231.0|(283,[231],[1.0])|          1.0|   (2,[1],[1.0])|  0.0|(904,[204,498,613...|
+-----------+------+------+----+-----+-----+----------------+-------+--------+--------+-------------+----------------+-------------------+----------+-----------------+-----------+--------------+--------+-------------+-----------+-----------------+-------------+----------------+-----+--------------------+
only showing top 20 rows

In [72]:
# Keep relevant columns
selectedcols = ["label", "features"] + cols
dataset = dataset.select(selectedcols)
#display(dataset)
#type(dataset)
dataset.toPandas()

testdataSet = testdataSet.select(selectedcols)
testdataSet.toPandas()

,label,features,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived,Title
0,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",892,3,male,34.5,0,0,330911,7.8292,Q,0,Kelly
1,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",893,3,female,47.0,1,0,363272,7.0000,S,1,Wilkes
2,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",894,2,male,62.0,0,0,240276,9.6875,Q,0,Myles
3,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",895,3,male,27.0,0,0,315154,8.6625,S,0,Wirz
4,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",896,3,female,22.0,1,1,3101298,12.2875,S,1,Hirvonen
5,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",897,3,male,14.0,0,0,7538,9.2250,S,0,Svensson
6,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",898,3,female,30.0,0,0,330972,7.6292,Q,1,Connolly
7,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",899,2,male,26.0,1,1,248738,29.0000,S,0,Caldwell
8,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",900,3,female,18.0,0,0,2657,7.2292,C,1,Abrahim
9,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",901,3,male,21.0,2,0,A/4 48871,24.1500,S,0,Davies
10,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",903,1,male,46.0,0,0,694,26.0000,S,0,Jones
11,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",904,1,female,23.0,1,0,21228,82.2667,S,1,Snyder
12,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",905,2,male,63.0,1,0,24065,26.0000,S,0,Howard
13,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",906,1,female,47.0,1,0,W.E.P. 5734,61.1750,S,1,Chaffee
14,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",907,2,female,24.0,1,0,SC/PARIS 2167,27.7208,C,1,del Carlo
15,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",908,2,male,35.0,0,0,233734,12.3500,Q,0,Keane
16,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",909,3,male,21.0,0,0,2692,7.2250,C,0,Assaf
17,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",910,3,female,27.0,1,0,STON/O2. 3101270,7.9250,S,1,Ilmakangas
18,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",911,3,female,45.0,0,0,2696,7.2250,C,1,"""Assaf Khalil"
19,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",912,1,male,55.0,1,0,PC 17603,59.4000,C,0,Rothschild
20,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",913,3,male,9.0,0,1,C 17368,3.1708,S,0,Olsen
21,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",915,1,male,21.0,0,1,PC 17597,61.3792,C,0,Williams
22,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",916,1,female,48.0,1,3,PC 17608,262.3750,C,1,Ryerson
23,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",917,3,male,50.0,1,0,A/5. 3337,14.5000,S,0,Robins
24,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",918,1,female,22.0,0,1,113509,61.9792,C,1,Ostby
25,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",919,3,male,22.5,0,0,2698,7.2250,C,0,Daher
26,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",920,1,male,41.0,0,0,113054,30.5000,S,0,Brady
27,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",922,2,male,50.0,1,0,SC/AH 3085,26.0000,S,0,Louch
28,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",923,2,male,24.0,2,0,C.A. 31029,31.5000,S,0,Jefferys
29,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",924,3,female,33.0,1,2,C.A. 2315,20.5750,S,1,Dean
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1273,3,male,26.0,0,0,330910,7.8792,Q,0,Foley
302,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1275,3,female,19.0,1,0,376566,16.1000,S,1,McNamee
303,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1277,2,female,24.0,1,2,220845,65.0000,S,1,Herman
304,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...",1278,3,male,24.0,0,0,349911,7.7750,S,0,Aronsson
305,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1279,2,male,57.0,0,0,244346,13.0000,S,0,Ashby
306,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1280,3,male,21.0,0,0,364858,7.7500,Q,0,Canavan
307,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1281,3,male,6.0,3,1,349909,21.0750,S,0,Palsson
308,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1282,1,male,23.0,0,0,12749,93.5000,S,0,Payne
309,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1283,1,female,51.0,0,1,PC 17592,39.4000,S,1,Lines
310,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1284,3,male,13.0,0,2,C.A. 2673,20.2500,S,0,Abbott
311,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1285,2,male,47.0,0,0,C.A. 30769,10.5000,S,0,Gilbert
312,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1286,3,male,29.0,3,1,315153,22.0250,S,0,Kink-Heilmann
313,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1287,1,female,18.0,1,0,13695,60.0000,S,1,Smith
314,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1288,3,male,24.0,0,0,371109,7.2500,Q,0,Colbert
315,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1289,1,female,48.0,1,1,13567,79.2000,C,1,Frolicher-Stehli
316,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1290,3,male,22.0,0,0,347065,7.7750,S,0,Larsson-Rondberg
317,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1291,3,male,31.0,0,0,21332,7.7333,Q,0,Conlon
318,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1292,1,female,30.0,0,0,36928,164.8667,S,1,Bonnell
319,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1293,2,male,38.0,1,0,28664,21.0000,S,0,Gale
320,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1294,1,female,22.0,0,1,112378,59.4000,C,1,Gibson
321,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1295,1,male,17.0,0,0,113059,47.1000,S,0,Carrau
322,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1296,1,male,43.0,1,0,17765,27.7208,C,0,Frauenthal
323,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1297,2,male,20.0,0,0,SC/PARIS 2166,13.8625,C,0,"""Nourney"
324,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1298,2,male,23.0,1,0,28666,10.5000,S,0,Ware
325,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1299,1,male,50.0,1,1,113503,211.5000,C,0,Widener
326,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1301,3,female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,S,1,Peacock
327,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1303,1,female,37.0,1,0,19928,90.0000,Q,1,Minahan
328,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1304,3,female,28.0,0,0,347086,7.7750,S,1,Henriksson
329,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1306,1,female,39.0,0,0,PC 17758,108.9000,C,1,Oliva y Ocana
330,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1307,3,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S,0,Saether

In [25]:
### Randomly split data into training and test sets. set seed for reproducibility
# (trainingData, testData) = dataset.randomSplit([0.7, 0.3], seed = 100)
# print trainingData.count()
# print testData.count()

In [82]:
from pyspark.ml.classification import LogisticRegression

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

# Train model with Training Data
lrModel = lr.fit(dataset)

predictionssss = lrModel.transform(dataset)
predictionssss.printSchema()

# Make predictions on test data using the transform() method.
# LogisticRegression.transform() will only use the 'features' column.
predictions = lrModel.transform(testdataSet)
predictions.printSchema()

predictionssss.select("probability").count()
#predictions.select("probability").count()
#predictions.select("prediction").count()

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Title: string (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

712

In [83]:
# View model's predictions and probabilities of each prediction class
# You can select any columns in the above schema to view as well. For example's sake we will choose age & occupation


selected = predictions.select("label", "Age", "probability", "prediction")
selected.toPandas()
selected.show()
#predictions = predictions.select("label", "Age", "probability", "prediction")
#predictions.show()

Py4JJavaError: An error occurred while calling o4225.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 371.0 failed 10 times, most recent failure: Lost task 0.9 in stage 371.0 (TID 425, yp-spark-dal09-env5-0026, executor d6d48375-b2fd-4376-ac1a-f477005cfc4f): org.apache.spark.SparkException: Failed to execute user defined function(: (vector) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:231)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:225)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$26.apply(RDD.scala:845)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$26.apply(RDD.scala:845)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:326)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:290)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1153)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.lang.Thread.run(Thread.java:785)
Caused by: java.lang.IllegalArgumentException: requirement failed: BLAS.dot(x: Vector, y:Vector) was given Vectors with non-matching sizes: x.size = 904, y.size = 1803
	at scala.Predef$.require(Predef.scala:224)
	at org.apache.spark.ml.linalg.BLAS$.dot(BLAS.scala:104)
	at org.apache.spark.ml.classification.LogisticRegressionModel$$anonfun$27.apply(LogisticRegression.scala:753)
	at org.apache.spark.ml.classification.LogisticRegressionModel$$anonfun$27.apply(LogisticRegression.scala:752)
	at org.apache.spark.ml.classification.LogisticRegressionModel.predictRaw(LogisticRegression.scala:886)
	at org.apache.spark.ml.classification.LogisticRegressionModel.predictRaw(LogisticRegression.scala:682)
	at org.apache.spark.ml.classification.ProbabilisticClassificationModel$$anonfun$1.apply(ProbabilisticClassifier.scala:117)
	at org.apache.spark.ml.classification.ProbabilisticClassificationModel$$anonfun$1.apply(ProbabilisticClassifier.scala:116)
	... 16 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1442)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1430)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1429)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1429)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:803)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:803)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:803)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1657)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1612)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1601)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at java.lang.Thread.getStackTrace(Thread.java:1117)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:629)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1957)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1971)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:954)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:381)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:953)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:275)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply$mcI$sp(Dataset.scala:2745)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2742)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2742)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2765)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:2742)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:95)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:55)
	at java.lang.reflect.Method.invoke(Method.java:507)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:785)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function(: (vector) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:377)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:231)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:225)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$26.apply(RDD.scala:845)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$26.apply(RDD.scala:845)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:326)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:290)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1153)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.lang.IllegalArgumentException: requirement failed: BLAS.dot(x: Vector, y:Vector) was given Vectors with non-matching sizes: x.size = 904, y.size = 1803
	at scala.Predef$.require(Predef.scala:224)
	at org.apache.spark.ml.linalg.BLAS$.dot(BLAS.scala:104)
	at org.apache.spark.ml.classification.LogisticRegressionModel$$anonfun$27.apply(LogisticRegression.scala:753)
	at org.apache.spark.ml.classification.LogisticRegressionModel$$anonfun$27.apply(LogisticRegression.scala:752)
	at org.apache.spark.ml.classification.LogisticRegressionModel.predictRaw(LogisticRegression.scala:886)
	at org.apache.spark.ml.classification.LogisticRegressionModel.predictRaw(LogisticRegression.scala:682)
	at org.apache.spark.ml.classification.ProbabilisticClassificationModel$$anonfun$1.apply(ProbabilisticClassifier.scala:117)
	at org.apache.spark.ml.classification.ProbabilisticClassificationModel$$anonfun$1.apply(ProbabilisticClassifier.scala:116)
	... 16 more

In [25]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(predictions)

0.8459883059931782

In [26]:

from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

In [27]:
from pyspark.ml.classification import DecisionTreeClassifier

# Create initial Decision Tree Model
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features", maxDepth=3)

# Train model with Training Data
dtModel = dt.fit(trainingData)

In [28]:
print "numNodes = ", dtModel.numNodes
print "depth = ", dtModel.depth

numNodes =  15
depth =  3

In [29]:
# Make predictions on test data using the Transformer.transform() method.
predictions = dtModel.transform(testData)

In [30]:
selected = predictions.select("label", "prediction", "probability", "Age")
selected.show()

+-----+----------+--------------------+----+
|label|prediction|         probability| Age|
+-----+----------+--------------------+----+
|  0.0|       1.0|         [0.45,0.55]| 2.0|
|  0.0|       1.0|         [0.45,0.55]| 8.0|
|  0.0|       0.0|[0.88636363636363...|20.0|
|  0.0|       0.0|[0.88636363636363...|28.0|
|  0.0|       0.0|[0.88636363636363...|19.0|
|  0.0|       0.0|[0.61111111111111...|45.0|
|  0.0|       0.0|[0.88636363636363...|30.0|
|  0.0|       0.0|[0.88636363636363...|48.0|
|  0.0|       1.0|         [0.45,0.55]|11.0|
|  0.0|       0.0|[0.88636363636363...|22.0|
|  0.0|       1.0|         [0.45,0.55]| 2.0|
|  0.0|       1.0|         [0.45,0.55]| 7.0|
|  0.0|       0.0|       [0.875,0.125]| 3.0|
|  0.0|       1.0|[0.40322580645161...|21.0|
|  0.0|       0.0|[0.88636363636363...|36.0|
|  0.0|       0.0|[0.88636363636363...|29.0|
|  0.0|       0.0|[0.88636363636363...|17.0|
|  0.0|       0.0|[0.88636363636363...|37.0|
|  0.0|       0.0|       [0.875,0.125]| 2.0|
|  0.0|       0.0|[0.61111111111111...|21.0|
+-----+----------+--------------------+----+
only showing top 20 rows

In [31]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.8239808348221538

In [32]:
from pyspark.ml.classification import RandomForestClassifier

# Create an initial RandomForest model.
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

# Train model with Training Data
rfModel = rf.fit(trainingData)

In [33]:
predictions = rfModel.transform(testData)

In [34]:
# View model's predictions and probabilities of each prediction class
selected = predictions.select("label", "prediction", "probability", "Age")
selected.show()

+-----+----------+--------------------+----+
|label|prediction|         probability| Age|
+-----+----------+--------------------+----+
|  0.0|       0.0|[0.62972458353542...| 2.0|
|  0.0|       0.0|[0.65428549005100...| 8.0|
|  0.0|       0.0|[0.70355576696306...|20.0|
|  0.0|       0.0|[0.68736980700028...|28.0|
|  0.0|       0.0|[0.70355576696306...|19.0|
|  0.0|       0.0|[0.57816693814403...|45.0|
|  0.0|       0.0|[0.65910558916788...|30.0|
|  0.0|       0.0|[0.70355576696306...|48.0|
|  0.0|       0.0|[0.67105109354999...|11.0|
|  0.0|       0.0|[0.70355576696306...|22.0|
|  0.0|       0.0|[0.66164945976849...| 2.0|
|  0.0|       0.0|[0.68621036628407...| 7.0|
|  0.0|       0.0|[0.61090255946120...| 3.0|
|  0.0|       0.0|[0.63226818574442...|21.0|
|  0.0|       0.0|[0.70355576696306...|36.0|
|  0.0|       0.0|[0.68736980700028...|29.0|
|  0.0|       0.0|[0.70355576696306...|17.0|
|  0.0|       0.0|[0.62660091575481...|37.0|
|  0.0|       0.0|[0.62892879089358...| 2.0|
|  0.0|       0.0|[0.59435289810682...|21.0|
+-----+----------+--------------------+----+
only showing top 20 rows

In [35]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.8243462725353256

In [36]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

layers = [4, 5, 4, 1]

# create the trainer and set its parameters
trainer = MultilayerPerceptronClassifier(maxIter=100, layers=layers, blockSize=128, seed=1234)

# train the model
model = trainer.fit(dataset)

Py4JJavaError: An error occurred while calling o933.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 107.0 failed 10 times, most recent failure: Lost task 0.9 in stage 107.0 (TID 113, yp-spark-dal09-env5-0026, executor c1ebe4b5-e896-4500-97eb-89bbcaaf42ca): java.lang.ArrayIndexOutOfBoundsException: Array index out of range: 1
	at org.apache.spark.ml.classification.LabelConverter$.encodeLabeledPoint(MultilayerPerceptronClassifier.scala:121)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier$$anonfun$3.apply(MultilayerPerceptronClassifier.scala:238)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier$$anonfun$3.apply(MultilayerPerceptronClassifier.scala:238)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$GroupedIterator.takeDestructively(Iterator.scala:1076)
	at scala.collection.Iterator$GroupedIterator.go(Iterator.scala:1091)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1128)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.storage.memory.MemoryStore.putIteratorAsValues(MemoryStore.scala:215)
	at org.apache.spark.storage.BlockManager$$anonfun$doPutIterator$1.apply(BlockManager.scala:964)
	at org.apache.spark.storage.BlockManager$$anonfun$doPutIterator$1.apply(BlockManager.scala:955)
	at org.apache.spark.storage.BlockManager.doPut(BlockManager.scala:895)
	at org.apache.spark.storage.BlockManager.doPutIterator(BlockManager.scala:955)
	at org.apache.spark.storage.BlockManager.getOrElseUpdate(BlockManager.scala:701)
	at org.apache.spark.rdd.RDD.getOrCompute(RDD.scala:337)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1153)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.lang.Thread.run(Thread.java:785)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1442)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1430)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1429)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1429)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:803)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:803)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:803)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1657)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1612)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1601)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at java.lang.Thread.getStackTrace(Thread.java:1117)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:629)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1957)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1971)
	at org.apache.spark.rdd.RDD.count(RDD.scala:1176)
	at org.apache.spark.mllib.optimization.LBFGS$.runLBFGS(LBFGS.scala:195)
	at org.apache.spark.mllib.optimization.LBFGS.optimize(LBFGS.scala:142)
	at org.apache.spark.ml.ann.FeedForwardTrainer.train(Layer.scala:817)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier.train(MultilayerPerceptronClassifier.scala:260)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier.train(MultilayerPerceptronClassifier.scala:145)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:96)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:72)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:95)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:55)
	at java.lang.reflect.Method.invoke(Method.java:507)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:785)
Caused by: java.lang.ArrayIndexOutOfBoundsException: Array index out of range: 1
	at org.apache.spark.ml.classification.LabelConverter$.encodeLabeledPoint(MultilayerPerceptronClassifier.scala:121)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier$$anonfun$3.apply(MultilayerPerceptronClassifier.scala:238)
	at org.apache.spark.ml.classification.MultilayerPerceptronClassifier$$anonfun$3.apply(MultilayerPerceptronClassifier.scala:238)
	at scala.collection.Iterator$$anon$11.next(Iterator.scala:409)
	at scala.collection.Iterator$GroupedIterator.takeDestructively(Iterator.scala:1076)
	at scala.collection.Iterator$GroupedIterator.go(Iterator.scala:1091)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1128)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.storage.memory.MemoryStore.putIteratorAsValues(MemoryStore.scala:215)
	at org.apache.spark.storage.BlockManager$$anonfun$doPutIterator$1.apply(BlockManager.scala:964)
	at org.apache.spark.storage.BlockManager$$anonfun$doPutIterator$1.apply(BlockManager.scala:955)
	at org.apache.spark.storage.BlockManager.doPut(BlockManager.scala:895)
	at org.apache.spark.storage.BlockManager.doPutIterator(BlockManager.scala:955)
	at org.apache.spark.storage.BlockManager.getOrElseUpdate(BlockManager.scala:701)
	at org.apache.spark.rdd.RDD.getOrCompute(RDD.scala:337)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1153)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more