In [53]:
# The code was removed by DSX for sharing.

In [59]:
import pandas as pd
df = (df.withColumn('Age',df['Age'].cast('double'))
            .withColumn('SibSp',df['SibSp'].cast('double'))
            .withColumn('Parch',df['Parch'].cast('double'))
            .withColumn('Fare',df['Fare'].cast('double'))
            .withColumn('Survived',df['Survived'].cast('double')))

In [60]:
df.count()

891

In [84]:
numVars = ['Survived','Age','SibSp','Parch','Fare']
def countNull(df,var):
    return df.where(df[var].isNull()).count()
 
missing = {var: countNull(df,var) for var in numVars}
age_mean = df.groupBy().mean('Age').first()[0]
fare_mean = df.groupBy().mean('Fare').first()[0]
df = df.na.fill({'Age':age_mean, 'Fare':fare_mean, 'Survived':0, 'SibSp': 0, 'Parch': 0, 'Pclass': 'Null', 'Sex': 'Null', 'Ticket': 'Null', 'Embarked': 'Null'})

In [85]:
df.count()

891

In [86]:
df = df.drop('Cabin', 'PassengerId')

In [87]:
df.count()

891

In [88]:
df = df.na.drop()

891

In [89]:
df.count()

891

In [90]:
df.printSchema()

root
 |-- Survived: double (nullable = false)
 |-- Pclass: string (nullable = false)
 |-- Sex: string (nullable = false)
 |-- Age: double (nullable = false)
 |-- SibSp: double (nullable = false)
 |-- Parch: double (nullable = false)
 |-- Ticket: string (nullable = false)
 |-- Fare: double (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Title: string (nullable = true)

In [91]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
 
## created user defined function to extract title
getTitle = udf(lambda name: name.split('.')[0].strip(),StringType())
df = df.withColumn('Title', getTitle(df['Name']))
df = df.drop('Name')

AnalysisException: u'Cannot resolve column name "Name" among (Survived, Pclass, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked, Title);'

In [92]:
###One-Hot Encoding
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ["Title","Pclass", "Sex", "Ticket", "Embarked"]
stages = [] # stages in our Pipeline
for categoricalCol in categoricalColumns:
  # Category Indexing with StringIndexer
  stringIndexer = StringIndexer(inputCol=categoricalCol, outputCol=categoricalCol+"Index")
  # Use OneHotEncoder to convert categorical variables into binary SparseVectors
  encoder = OneHotEncoder(inputCol=categoricalCol+"Index", outputCol=categoricalCol+"classVec")
  # Add stages.  These are not run here, but will run all at once later on.
  stages += [stringIndexer,encoder]

In [93]:
# Convert label into label indices using the StringIndexer
label_stringIdx = StringIndexer(inputCol = "Survived", outputCol = "label")
stages += [label_stringIdx]

In [94]:
# Transform all features into a vector using VectorAssembler
numericCols = ["Age", "SibSp","Parch", "Fare"]
assemblerInputs = map(lambda c: c + "classVec", categoricalColumns) + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [95]:
df.printSchema()

root
 |-- Survived: double (nullable = false)
 |-- Pclass: string (nullable = false)
 |-- Sex: string (nullable = false)
 |-- Age: double (nullable = false)
 |-- SibSp: double (nullable = false)
 |-- Parch: double (nullable = false)
 |-- Ticket: string (nullable = false)
 |-- Fare: double (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- Title: string (nullable = true)

In [96]:
cols = df.columns
# Create a Pipeline.
pipeline = Pipeline(stages=stages)
# Run the feature transformations.
#  - fit() computes feature statistics as needed.
#  - transform() actually transforms the features.
pipelineModel = pipeline.fit(df)
dataset = pipelineModel.transform(df)

In [97]:
# Keep relevant columns
selectedcols = ["label", "features"] + cols
dataset = dataset.select(selectedcols)
dataset.toPandas()

,label,features,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title
0,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,22.000000,1,0,A/5 21171,7.2500,S,"Braund, Mr"
1,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,38.000000,1,0,PC 17599,71.2833,C,"Cumings, Mrs"
2,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,26.000000,0,0,STON/O2. 3101282,7.9250,S,"Heikkinen, Miss"
3,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,35.000000,1,0,113803,53.1000,S,"Futrelle, Mrs"
4,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,35.000000,0,0,373450,8.0500,S,"Allen, Mr"
5,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,330877,8.4583,Q,"Moran, Mr"
6,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,54.000000,0,0,17463,51.8625,S,"McCarthy, Mr"
7,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,2.000000,3,1,349909,21.0750,S,"Palsson, Master"
8,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,27.000000,0,2,347742,11.1333,S,"Johnson, Mrs"
9,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,14.000000,1,0,237736,30.0708,C,"Nasser, Mrs"
10,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,4.000000,1,1,PP 9549,16.7000,S,"Sandstrom, Miss"
11,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,58.000000,0,0,113783,26.5500,S,"Bonnell, Miss"
12,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,20.000000,0,0,A/5. 2151,8.0500,S,"Saundercock, Mr"
13,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,39.000000,1,5,347082,31.2750,S,"Andersson, Mr"
14,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,14.000000,0,0,350406,7.8542,S,"Vestrom, Miss"
15,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,55.000000,0,0,248706,16.0000,S,"Hewlett, Mrs"
16,0,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,2.000000,4,1,382652,29.1250,Q,"Rice, Master"
17,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,male,29.699118,0,0,244373,13.0000,S,"Williams, Mr"
18,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,31.000000,1,0,345763,18.0000,S,"Vander Planke, Mrs"
19,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,29.699118,0,0,2649,7.2250,C,"Masselmani, Mrs"
20,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,35.000000,0,0,239865,26.0000,S,"Fynney, Mr"
21,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,male,34.000000,0,0,248698,13.0000,S,"Beesley, Mr"
22,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,15.000000,0,0,330923,8.0292,Q,"""McGowan, Miss"
23,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,male,28.000000,0,0,113788,35.5000,S,"Sloper, Mr"
24,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,8.000000,3,1,349909,21.0750,S,"Palsson, Miss"
25,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,38.000000,1,5,347077,31.3875,S,"Asplund, Mrs"
26,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,2631,7.2250,C,"Emir, Mr"
27,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,19.000000,3,2,19950,263.0000,S,"Fortune, Mr"
28,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,29.699118,0,0,330959,7.8792,Q,"""O'Dwyer, Miss"
29,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,349216,7.8958,S,"Todoroff, Mr"
...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,21.000000,1,0,28134,11.5000,S,"Giles, Mr"
862,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,48.000000,0,0,17466,25.9292,S,"Swift, Mrs"
863,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,29.699118,8,2,CA. 2343,69.5500,S,"""Sage, Miss"
864,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,24.000000,0,0,233866,13.0000,S,"Gill, Mr"
865,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,42.000000,0,0,236852,13.0000,S,"Bystrom, Mrs"
866,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,27.000000,1,0,SC/PARIS 2149,13.8583,C,"Duran y More, Miss"
867,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,31.000000,0,0,PC 17590,50.4958,S,"Roebling, Mr"
868,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,345777,9.5000,S,"van Melkebeke, Mr"
869,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,male,4.000000,1,1,347742,11.1333,S,"Johnson, Master"
870,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,26.000000,0,0,349248,7.8958,S,"Balkic, Mr"
871,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,47.000000,1,1,11751,52.5542,S,"Beckwith, Mrs"
872,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,33.000000,0,0,695,5.0000,S,"Carlsson, Mr"
873,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,47.000000,0,0,345765,9.0000,S,"Vander Cruyssen, Mr"
874,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,28.000000,1,0,P/PP 3381,24.0000,C,"Abelson, Mrs"
875,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,15.000000,0,0,2667,7.2250,C,"""Najib, Miss"
876,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,20.000000,0,0,7534,9.8458,S,"Gustafsson, Mr"
877,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,19.000000,0,0,349212,7.8958,S,"Petroff, Mr"
878,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,349217,7.8958,S,"Laleff, Mr"
879,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,56.000000,0,1,11767,83.1583,C,"Potter, Mrs"
880,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,25.000000,0,1,230433,26.0000,S,"Shelley, Mrs"
881,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,33.000000,0,0,349257,7.8958,S,"Markun, Mr"
882,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,22.000000,0,0,7552,10.5167,S,"Dahlberg, Miss"
883,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,28.000000,0,0,C.A./SOTON 34068,10.5000,S,"Banfield, Mr"
884,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,25.000000,0,0,SOTON/OQ 392076,7.0500,S,"Sutehall, Mr"
885,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,39.000000,0,5,382652,29.1250,Q,"Rice, Mrs"
886,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,27.000000,0,0,211536,13.0000,S,"Montvila, Rev"
887,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,19.000000,0,0,112053,30.0000,S,"Graham, Miss"
888,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,29.699118,1,2,W./C. 6607,23.4500,S,"""Johnston, Miss"
889,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,male,26.000000,0,0,111369,30.0000,C,"Behr, Mr"
890,0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,32.000000,0,0,370376,7.7500,Q,"Dooley, Mr"

In [98]:
### Randomly split data into training and test sets. set seed for reproducibility
(trainingData, testData) = dataset.randomSplit([0.7, 0.3], seed = 100)
print trainingData.count()
print testData.count()

614
277

In [ ]:
from pyspark.ml.classification import LogisticRegression

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

# Train model with Training Data
lrModel = lr.fit(trainingData)

# Make predictions on test data using the transform() method.
# LogisticRegression.transform() will only use the 'features' column.
predictions = lrModel.transform(testData)
predictions.printSchema()

In [100]:
# View model's predictions and probabilities of each prediction class
# You can select any columns in the above schema to view as well. For example's sake we will choose age & occupation
selected = predictions.select("label", "prediction", "probability", "Age")
selected.toPandas()

     label  prediction                          probability        Age
0        0           0  [0.999613489583, 0.000386510417427]   2.000000
1        0           0  [0.999644110298, 0.000355889701929]   8.000000
2        0           0   [0.999657951865, 0.00034204813521]  20.000000
3        0           0   [0.998436179683, 0.00156382031652]  28.000000
4        0           0  [0.999347061027, 0.000652938973184]  29.699118
5        0           0   [0.998628063677, 0.00137193632339]  41.000000
6        0           0   [0.998336286645, 0.00166371335485]  26.000000
7        0           0   [0.997900287164, 0.00209971283563]  19.000000
8        0           0    [0.970373984457, 0.0296260155427]  56.000000
9        0           0    [0.989810861576, 0.0101891384241]  29.699118
10       0           0   [0.999754866477, 0.00024513352259]   9.000000
11       0           0  [0.999761519668, 0.000238480332033]  11.000000
12       0           0  [0.999831995483, 0.000168004517101]  29.699118
13       0           0   [0.998170733179, 0.00182926682091]  22.000000
14       0           0   [0.998416704746, 0.00158329525402]  33.000000
15       0           0   [0.994974300518, 0.00502569948167]  17.000000
16       0           0  [0.999691620405, 0.000308379595107]   1.000000
17       0           0   [0.999143073347, 0.00085692665275]   3.000000
18       0           1    [0.0316869937016, 0.968313006298]  29.699118
19       0           0    [0.998221608008, 0.0017783919915]  24.000000
20       0           0     [0.98954001347, 0.0104599865299]  29.699118
21       0           0  [0.999766495795, 0.000233504204947]   4.000000
22       0           0  [0.999225200932, 0.000774799067679]  28.000000
23       0           0     [0.629941017898, 0.370058982102]  29.699118
24       0           0     [0.9965075864, 0.00349241360023]  29.699118
25       0           0   [0.998311850726, 0.00168814927426]  29.699118
26       0           0   [0.99952589604, 0.000474103960395]  21.000000
27       0           0    [0.996009009713, 0.0039909902872]  29.699118
28       0           0   [0.990338907346, 0.00966109265358]  24.000000
29       0           0   [0.990469688829, 0.00953031117085]  25.000000
..     ...         ...                                  ...        ...
247      1           1    [0.00964548146011, 0.99035451854]  47.000000
248      1           1    [0.0209539467916, 0.979046053208]  30.000000
249      1           0    [0.964244427477, 0.0357555725234]  29.699118
250      1           0    [0.939441017923, 0.0605589820773]  48.000000
251      1           0       [0.58838657209, 0.41161342791]  58.000000
252      1           1   [0.00750159653619, 0.992498403464]  35.000000
253      1           0    [0.981964913862, 0.0180350861384]  33.000000
254      1           0   [0.990672196751, 0.00932780324921]  27.000000
255      1           0       [0.73663007636, 0.26336992364]  24.000000
256      1           1    [0.0103800423884, 0.989619957612]  24.000000
257      1           0     [0.606477528062, 0.393522471938]  29.000000
258      1           0     [0.991283078246, 0.008716921754]  32.000000
259      1           1     [0.017972324864, 0.982027675136]  16.000000
260      1           0     [0.741216513646, 0.258783486354]  29.699118
261      1           0    [0.989142879753, 0.0108571202465]  16.000000
262      1           1    [0.0328635292121, 0.967136470788]  24.000000
263      1           1     [0.257603914445, 0.742396085555]   0.830000
264      1           0    [0.927359890493, 0.0726401095068]  35.000000
265      1           0     [0.741241598949, 0.258758401051]  29.699118
266      1           1       [0.30979999799, 0.69020000201]  22.000000
267      1           0    [0.989577405379, 0.0104225946206]  19.000000
268      1           0    [0.965819660783, 0.0341803392166]  22.000000
269      1           1     [0.0541321113905, 0.94586788861]  29.699118
270      1           0    [0.931374606537, 0.0686253934635]  39.000000
271      1           1      [0.0133716545002, 0.9866283455]  24.000000
272      1           1    [0.0273396197861, 0.972660380214]  51.000000
273      1           0     [0.759456406146, 0.240543593854]  28.000000
274      1           1    [0.0500879434151, 0.949912056585]  34.000000
275      1           0     [0.792878044586, 0.207121955414]  42.000000
276      1           0     [0.655415189369, 0.344584810631]   4.000000

[277 rows x 4 columns]

In [103]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(predictions)

0.8261634199134199

In [104]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

# Create 5-fold CrossValidator
cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)
# this will likely take a fair amount of time because of the amount of models that we're creating and testing

In [144]:
# Use test set here so we can measure the accuracy of our model on new data

predictions = cvModel.transform(testData)
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.8411525974025977

In [ ]:

from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

In [105]:
from pyspark.ml.classification import DecisionTreeClassifier

# Create initial Decision Tree Model
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features", maxDepth=3)

# Train model with Training Data
dtModel = dt.fit(trainingData)

In [106]:
print "numNodes = ", dtModel.numNodes
print "depth = ", dtModel.depth

numNodes =  15
depth =  3

In [108]:
# Make predictions on test data using the Transformer.transform() method.
predictions = dtModel.transform(testData)

In [109]:
selected = predictions.select("label", "prediction", "probability", "Age")
selected.show()

+-----+----------+--------------------+-------------+
|label|prediction|         probability|          Age|
+-----+----------+--------------------+-------------+
|  0.0|       0.0|[0.89473684210526...|          2.0|
|  0.0|       0.0|[0.89473684210526...|          8.0|
|  0.0|       0.0|[0.90977443609022...|         20.0|
|  0.0|       0.0|[0.90977443609022...|         28.0|
|  0.0|       0.0|[0.64864864864864...|29.6991176471|
|  0.0|       0.0|[0.90977443609022...|         41.0|
|  0.0|       0.0|[0.90977443609022...|         26.0|
|  0.0|       0.0|[0.90977443609022...|         19.0|
|  0.0|       0.0|[0.61458333333333...|         56.0|
|  0.0|       0.0|[0.90977443609022...|29.6991176471|
|  0.0|       0.0|[0.89473684210526...|          9.0|
|  0.0|       0.0|[0.89473684210526...|         11.0|
|  0.0|       0.0|[0.89473684210526...|29.6991176471|
|  0.0|       0.0|[0.90977443609022...|         22.0|
|  0.0|       0.0|[0.90977443609022...|         33.0|
|  0.0|       0.0|[0.90977443609022...|         17.0|
|  0.0|       0.0|[0.89473684210526...|          1.0|
|  0.0|       0.0|[0.64864864864864...|          3.0|
|  0.0|       0.0|[0.61458333333333...|29.6991176471|
|  0.0|       0.0|[0.90977443609022...|         24.0|
+-----+----------+--------------------+-------------+
only showing top 20 rows

In [110]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.8105248917748916

In [147]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

paramGrid = (ParamGridBuilder()
             .addGrid(dt.maxDepth, [1,2,6,10])
             .addGrid(dt.maxBins, [20,40,80])
             .build())

In [148]:
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=dt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)
# Takes ~5 minutes

In [149]:
predictions = cvModel.transform(testData)

In [150]:
evaluator.evaluate(predictions)

0.8286796536796538

In [111]:
from pyspark.ml.classification import RandomForestClassifier

# Create an initial RandomForest model.
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

# Train model with Training Data
rfModel = rf.fit(trainingData)

In [ ]:
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=dt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)
# Takes ~5 minutes

In [112]:
predictions = rfModel.transform(testData)

In [113]:
# View model's predictions and probabilities of each prediction class
selected = predictions.select("label", "prediction", "probability", "Age")
selected.show()

+-----+----------+--------------------+-------------+
|label|prediction|         probability|          Age|
+-----+----------+--------------------+-------------+
|  0.0|       0.0|[0.58874019640607...|          2.0|
|  0.0|       0.0|[0.63262317512948...|          8.0|
|  0.0|       0.0|[0.745650043772,0...|         20.0|
|  0.0|       0.0|[0.73875796953007...|         28.0|
|  0.0|       0.0|[0.54303780107835...|29.6991176471|
|  0.0|       0.0|[0.73875796953007...|         41.0|
|  0.0|       0.0|[0.73875796953007...|         26.0|
|  0.0|       0.0|[0.745650043772,0...|         19.0|
|  0.0|       0.0|[0.58090732758633...|         56.0|
|  0.0|       0.0|[0.61407854340958...|29.6991176471|
|  0.0|       0.0|[0.62941686660526...|          9.0|
|  0.0|       0.0|[0.66083221052060...|         11.0|
|  0.0|       0.0|[0.66083221052060...|29.6991176471|
|  0.0|       0.0|[0.745650043772,0...|         22.0|
|  0.0|       0.0|[0.745650043772,0...|         33.0|
|  0.0|       0.0|[0.68029827143309...|         17.0|
|  0.0|       0.0|[0.58553388788185...|          1.0|
|  0.0|       0.0|[0.54084585795039...|          3.0|
|  0.0|       0.0|[0.54611470085822...|29.6991176471|
|  0.0|       0.0|[0.745650043772,0...|         24.0|
+-----+----------+--------------------+-------------+
only showing top 20 rows

In [114]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator()
evaluator.evaluate(predictions)

0.8195616883116882

In [152]:
# Create ParamGrid for Cross Validation
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

paramGrid = (ParamGridBuilder()
             .addGrid(rf.maxDepth, [2, 4, 6])
             .addGrid(rf.maxBins, [20, 60])
             .addGrid(rf.numTrees, [5, 20])
             .build())

In [153]:
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations.  This can take about 6 minutes since it is training over 20 trees!
cvModel = cv.fit(trainingData)

In [154]:
predictions = cvModel.transform(testData)

In [155]:
evaluator.evaluate(predictions)

0.8270833333333332

In [156]:
from pyspark.ml.classification import NaiveBayes
nb = NaiveBayes(smoothing=1.0, modelType="multinomial", weightCol='Survived')

# train the model
model = nb.fit(trainingData)

In [157]:
predictions = model.transform(testData)

In [159]:
# View model's predictions and probabilities of each prediction class
selected = predictions.select("label", "prediction", "probability", "Fare")
selected.show()

+-----+----------+--------------------+-------+
|label|prediction|         probability|   Fare|
+-----+----------+--------------------+-------+
|  0.0|       1.0|[1.84504312137990...| 29.125|
|  0.0|       1.0|[1.31611270530997...| 29.125|
|  0.0|       1.0|[7.94509507056686...| 9.8458|
|  0.0|       1.0|[1.25071302379326...|  7.925|
|  0.0|       1.0|[2.15211063696365...|25.4667|
|  0.0|       1.0|[1.29784348506983...|14.1083|
|  0.0|       1.0|[4.15126982470329...| 7.8542|
|  0.0|       1.0|[8.93302492659600...|    0.0|
|  0.0|       1.0|[3.82696437112595...|30.6958|
|  0.0|       1.0|[5.48903364609699...|   26.0|
|  0.0|       1.0|[1.35752051933497...|   46.9|
|  0.0|       1.0|[5.63000252710607...|   46.9|
|  0.0|       1.0|[4.98268484065482...|  69.55|
|  0.0|       1.0|[3.05735634798281...| 7.7958|
|  0.0|       1.0|[2.42249562090087...| 8.6542|
|  0.0|       1.0|[1.06605970718637...| 7.2292|
|  0.0|       1.0|[3.24379940207277...|39.6875|
|  0.0|       1.0|[9.27820258059291...| 21.075|
|  0.0|       1.0|[1.14981026364878...|30.6958|
|  0.0|       1.0|[9.47106249803039...| 7.4958|
+-----+----------+--------------------+-------+
only showing top 20 rows

In [160]:
evaluator.evaluate(predictions)

0.46298701298701317